[submodule "CTPL"]
	path = CTPL
	url = git@github.com:labolas89/CTPL.git
[submodule "boost-headers-only"]
	path = boost-headers-only
	url = git@github.com:labolas89/boost-headers-only.git
[submodule "avl_array"]
	path = avl_array
	url = git@github.com:mpaland/avl_array.git
